@import 'slick-theme.less';
@import 'slick.less';
.container {
	.portfolio-box-grid {
		display: flex;
		flex-wrap: wrap;
		.items-grid {
			flex: 0 0 33.333%;
			margin-bottom: 3rem;
			.portfolio-pic-grid {
				padding: 0 1.5rem;
				img {
					border-radius: 8px;
				}
			}
			.portfolio-title-grid {
				padding: 0.5rem 1.5rem;
				font-weight: bold;
				font-size: 18px;
			}
			.portfolio-description-grid {
				padding: 0 1.5rem;
			}
		}
	}
	.portfolio-box-slider {
		.portfolio-box-grid();
		.items-slider {
			.items-grid();
			.portfolio-pic-slider {
				.portfolio-pic-grid();
			}
			.portfolio-title-slider {
				.portfolio-title-grid();
			}
			.portfolio-description-slider {
				.portfolio-description-grid();
			}
		}
	}
}