<?php 
	$collection = $block->getPortfolioCollection();
	$typeSlider = $block->getData('type');
 ?>
<div class="container">
	<?php if ($typeSlider === 'Grid') { ?>
		<div class="portfolio-box-grid">
			<?php if($block->getData('active') === 'Enable') {
					foreach($collection as $items) {
						$status = $items->getStatus();
						if ($status) { ?>
							<div class="items-grid">
								<div class="portfolio-pic-grid">
									<img src="<?= $block->escapehtml(__($image = $block->getPortfolioImageUrl($items))) ?>" alt="#">
								</div>
								<div class="portfolio-title-grid">
									<span><?= $block->escapehtml(__($items->getName())) ?></span>
								</div>
								<div class="portfolio-description-grid">
									<span><?= $block->escapehtml(__($items->getDescription())) ?></span>
								</div>
							</div>
					<?php } ?>
				<?php } ?>
			<?php } ?>
		</div>
	<?php } ?>
	<?php if ($typeSlider === 'Slider') { ?>
		<div class="portfolio-box-slider">
			<?php if($block->getData('active') === 'Enable') {
					foreach($collection as $items) {
						$status = $items->getStatus();
						if ($status) { ?>
							<div class="items-slider">
								<div class="portfolio-pic-slider">
									<img src="<?= $block->escapehtml(__($image = $block->getPortfolioImageUrl($items))) ?>" alt="#">
								</div>
								<div class="portfolio-title-slider">
									<span><?= $block->escapehtml(__($items->getName())) ?></span>
								</div>
								<div class="portfolio-description-slider">
									<span><?= $block->escapehtml(__($items->getDescription())) ?></span>
								</div>
							</div>
					<?php } ?>
				<?php } ?>
			<?php } ?>
		</div>
	<?php } ?>
</div>
<script type="text/x-magento-init">
	{
	".portfolio-box-slider":
		{
			"HTCMage_Portfolio/js/slick-portfolio": {
				"limit" : "<?= $block->getData('limit-slider'); ?>"
			}
		}
	}
</script>